@model IEnumerable<Lourse.Models.Author>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Authors</h2>

<div class="right ">

    <button type="button" class="btn">@Html.ActionLink("Add Author", "Create", "Author")</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Courses</th>
            <th scope="col">Action</th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var author in Model)
        {
            <tr>
                <th scope="row">@author.Id</th>
                <td>@Html.ActionLink(author.Name,"Details",new { id = author.Id })</td>
                <td>@author.Courses.Count()</td>
                <td>@Html.ActionLink("Edit", "Edit", new { id = author.Id }) | @Html.ActionLink("Delete", "Delete", new { id = author.Id })</td>
                
            </tr>
        }


    </tbody>
</table>