@model IEnumerable<Lourse.Models.Student>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Students</h2>
<div class="right ">
    
    <button type="button" class="btn">@Html.ActionLink("Add Student","Create","Student")</button>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Courses</th>
            <th scope="col"></th>
            
            
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <th scope="row">@student.Id</th>
                <td>@Html.ActionLink(student.Name,"Details",new { id=student.Id})</td>
                <td>@student.Courses.Count()</td>
                <td>@Html.ActionLink("Edit","Edit",new { id=student.Id}) | @Html.ActionLink("Delete","Delete", new { id = student.Id })</td>
            </tr>
        }

        
    </tbody>
</table>

